<hr>
<div align="center">
	<footer class="footer">

    <p style="display: inline-block; vertical-align: top;">
      <a class="btn btn-secondary" href="https://discord.gg/a5rBPCJ" role="button"><i class="fa fas fa-arrow-circle-right" aria-hidden="true"></i> &nbsp;Discord</a>
      <a class="btn btn-secondary" href="https://twitter.com/aysu_dogan_" role="button"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp;Twitter</a>
      <a class="btn btn-secondary" href="https://www.instagram.com/aysud.gc" target="_blank" role="button"><i class="fa fa-instagram" aria-hidden="true"></i> &nbsp;Instagram</a>
      <br>Copyright © <script>document.write(new Date().getFullYear());</script> Tüm hakları saklı değildir.
      <br>Destek Sunucusu: <a href="https://discord.gg/a5rBPCJ">мooи ɒямγ</a>
      <br>Altyapı: An Idiot's Guide
      <br>Düzenleme: <%= bot.users.cache.get('371655928170414080').tag %>
      <br><a href="#top">Üste Çık</a>
    </p>

    <iframe src='https://disweb.deploys.io/channels/372754953170845696/467363271452917760' height="300" width="400" style="display: inline-block"></iframe>

	</footer>
</div>