<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="card-header" style="padding: 2px; background-color:grey; border: 0px;">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link<% if(active === 'manage') { %> active<% } %>" href="/sunucular/<%= guild.id %>/yonet">Ayarlar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link<% if(active === 'stats') { %> active<% } %>" href="/sunucular/<%= guild.id %>/stats">İstatistikler</a>
		</li>
		<li class="nav-item">
			<a class="nav-link<% if(active === 'members') { %> active<% } %>" href="/sunucular/<%= guild.id %>/members">Üyeler</a>
		</li>
	</ul>
</div>